*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
target/
project/boot/
project/plugins/project/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
*.dat